<?xml version="1.0"?>
<!--
/**
 * @author Tiago Sampaio <tiago@tiagosampaio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <frenet_shipping>
                <model>Frenet\Shipping\Model\Carrier\Frenet</model>
                <name>frenet</name>
                <active>0</active>
                <title>Frenet Shipping Gateway</title>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <use_default>1</use_default>
                <default_height>2</default_height>
                <default_length>16</default_length>
                <default_width>11</default_width>
                <default_weight>0.1</default_weight>
                <weight_type>kg</weight_type>
                <show_delivery>1</show_delivery>
                <msgprazo>%s - Em média %d dia(s)</msgprazo>
                <add_delivery_days>0</add_delivery_days>
                <showmethod>0</showmethod>
                <specificcountry>BR</specificcountry>
                <sort_order>10</sort_order>
                <specificerrmsg>Frenet shipping method is not available.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
                <weight_attribute>weight</weight_attribute>
                <height_attribute>volume_height</height_attribute>
                <length_attribute>volume_length</length_attribute>
                <width_attribute>volume_width</width_attribute>
                <debug>0</debug>
                <debug_filename>frenet_request_debug.log</debug_filename>
                <sort_order>90</sort_order>
            </frenet_shipping>
        </carriers>
    </default>
</config>
