<?xml version="1.0"?>
<!--
  Frenet Shipping Gateway

  @category Frenet

  @author Tiago Sampaio <tiago@tiagosampaio.com>
  @link https://github.com/tiagosampaio
  @link https://tiagosampaio.com

  Copyright (c) 2020.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Frenet\Shipping\Api\ServiceApiInterface" type="Frenet\Shipping\Model\ApiService"/>
    <preference for="Frenet\Shipping\Api\CalculatorInterface" type="Frenet\Shipping\Model\Calculator"/>
    <preference for="Frenet\Shipping\Api\Data\AttributesMappingInterface" type="Frenet\Shipping\Model\Catalog\Product\AttributesMapping"/>
    <preference for="Frenet\Shipping\Api\QuoteItemValidatorInterface" type="Frenet\Shipping\Model\Quote\ItemValidator"/>
    <preference for="Frenet\Shipping\Model\Quote\ItemQuantityCalculatorInterface" type="Frenet\Shipping\Model\Quote\ItemQuantityCalculator"/>
    <preference for="Frenet\Shipping\Api\Data\DimensionsExtractorInterface" type="Frenet\Shipping\Model\Catalog\Product\DimensionsExtractor"/>
    <preference for="Frenet\Shipping\Api\WeightConverterInterface" type="Frenet\Shipping\Model\WeightConverter"/>
    <preference for="Frenet\Shipping\Model\ServiceFinderInterface" type="Frenet\Shipping\Model\ServiceFinder"/>
    <preference for="Frenet\Shipping\Model\TrackingInterface" type="Frenet\Shipping\Model\Tracking"/>
    <preference for="Frenet\Shipping\Model\Quote\MultiQuoteValidatorInterface" type="Frenet\Shipping\Model\Quote\MultiQuoteValidator"/>

    <type name="Frenet\Shipping\Model\Calculator">
        <arguments>
            <argument name="dimensionsExtractor" xsi:type="object">Frenet\Shipping\Model\Catalog\Product\DimensionsExtractor</argument>
        </arguments>
    </type>

    <virtualType name="Frenet\Shipping\Model\Quote\Calculators\SimplePriceCalculator" type="Frenet\Shipping\Model\Quote\Calculators\DefaultPriceCalculator">
    </virtualType>

    <virtualType name="Frenet\Shipping\Model\Quote\Calculators\VirtualPriceCalculator" type="Frenet\Shipping\Model\Quote\Calculators\DefaultPriceCalculator">
    </virtualType>

    <virtualType name="Frenet\Shipping\Model\Quote\Calculators\DownloadablePriceCalculator" type="Frenet\Shipping\Model\Quote\Calculators\DefaultPriceCalculator">
    </virtualType>

    <virtualType name="Frenet\Shipping\Model\Quote\Calculators\GroupedPriceCalculator" type="Frenet\Shipping\Model\Quote\Calculators\DefaultPriceCalculator">
    </virtualType>

    <type name="Frenet\Shipping\Model\Quote\Calculators\PriceCalculatorFactory">
        <arguments>
            <argument name="calculators" xsi:type="array">
                <item name="default" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\DefaultPriceCalculator</item>
                <item name="simple" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\SimplePriceCalculator</item>
                <item name="virtual" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\VirtualPriceCalculator</item>
                <item name="downloadable" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\DownloadablePriceCalculator</item>
                <item name="grouped" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\GroupedPriceCalculator</item>
                <item name="configurable" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\ConfigurablePriceCalculator</item>
                <item name="bundle" xsi:type="object">Frenet\Shipping\Model\Quote\Calculators\BundlePriceCalculator</item>
            </argument>
        </arguments>
    </type>
</config>
