<?xml version="1.0"?>
<!--
  Frenet Shipping Gateway

  @category Frenet

  @author Tiago Sampaio <tiago@tiagosampaio.com>
  @link https://github.com/tiagosampaio
  @link https://tiagosampaio.com

  Copyright (c) 2020.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Frenet_Shipping" setup_version="2.0.0"/>
</config>
